body {
  background-color: rgb(15, 11, 32);
}
.PlayingBody{
  background-color: rgb(11, 7, 21);
}
h1 {
  color: rgb(179, 250, 255);
  font-size:128px;
  margin-bottom: 32px;
}
header{
  border-bottom: solid 1px rgb(255, 232, 128);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
	z-index: 10;
}
mark{
  width: 56px;
  background-color: rgb(255, 255, 255, 0.95);
  border: solid 0.5px rgb(255, 255, 255, 1);
}

.pasted {
  background-color: rgb(255, 255, 255, 0.75);
  border-bottom: solid 1px rgb(255, 232, 128);
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 32px;
  padding: 10px 0 10px 30px;
}

.pastedCode {
  background-color: rgb(0, 0, 0, 0);
  color: rgb(255, 255, 255);
}

.Ready {
  background-color: rgb(0, 0, 0, 0.5);
  color: rgba(171, 255, 138, 0.637);
}

.Space {
  width: 50px !important;
  height: 112px !important;
  border-bottom: Solid 2px gray;
}
.SpaceLeft{
  padding-left: 50px !important;
}

.SpaceRight{
  padding-right: 50px !important;
}

.end{
  display: none;
}
#Typer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#TextTyper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: none;
  color: rgb(0, 0, 0);
  font-size: 72px;
  font-weight: 300;
  text-align: left;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0;
  max-width: 50%;
  background: linear-gradient( 90deg, rgba(255, 255, 255, 0.71), rgba(255, 255, 255, 0.35));
}
#TextTyper::first-letter {
  padding-right: 3px !important;
  padding-left: 3px !important;
  font-weight: 500;
}


#TheChar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: none;
  color: rgb(12, 12, 12);
  font-size: 72px;
 
  text-align: center;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 3px !important;
  padding-left: 3px !important;
  max-width: 6%;
  border: solid 2px white;

  background: radial-gradient(circle, rgba(180,180,180,1) 0%, rgba(215,215,215,1) 60%, rgba(255,255,255,1) 100%);
  animation-name: Character;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes Character{
  0%{
    color: rgb(0, 0,0);
    font-weight: 0;
  }
  25%{
    color: rgb(21, 12, 32);
    font-weight: 250;
  }
  50%{
    color: rgb(12, 32, 21);
    font-weight: 500;
  }
  75%{
    color: rgb(32, 21, 12);
    font-weight: 700;
  }
  100%{
    color: rgb(21, 12, 32);
    font-weight: 1000;
  }
}


#TextTyped {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: none;
  color: rgb(0, 0, 0);
  font-size: 72px;
  font-weight: 400;
  max-width: 50%;
  text-align: right !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: ;
  padding-left: 3px !important;
  background: linear-gradient( -90deg, rgba(255, 255, 255, 0.301), rgba(25, 25, 25, 0.1));
}

#TypedText {
  display: flex;
  flex-direction: row;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 3px !important;
  padding-left: 0 !important;
}

#PasteTypeTexter {
  border: solid 1px rgb(255, 232, 128);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
	z-index: 10;
}
#PasteTypeTexter.Over {
  display: none;
}

.btn{
  font-size: 30px;
  color:white;
}
.btn:hover{
  color: rgba(255, 232, 128,0.75);
}
#ReadyButton{
  border: solid 3px rgba(0, 0, 0, 0.75);
  border-radius: 7px;
  padding: 3px;
  background: linear-gradient( 0deg, rgba(175, 175, 255, 0.301), rgba(25, 25, 25, 0.1));
}
#ResetButton{
  padding: 3px;
  border: solid 3px rgba(0, 0, 0, 0.75);
  border-radius: 7px;
  background: linear-gradient( 0deg, rgba(175, 175, 255, 0.301), rgba(25, 25, 25, 0.1));
}

#Stats{
  color: white;
}

#StartTyping{
  color: rgba(255, 200, 128,0.50);
   stroke: black;
}